:root {
  --body-bg-clr: #02012C;
  --card-bg-clr: #262540; /*Used for cards and search bg*/
  --hour-card-bg-clr: #302F4A;
  --card-border-clr: #3C3B5E; /*Used for border of cards and day dropdown bg*/
  --mystery-grey: #ACACB7; /*Unclear where this color goes in design*/
  --dark-text-clr: #D4D3D9;
  --white: #FFF;
  --logo-clr: #FF820A; /*Orange of logo*/
  --search-button-bg-clr: #4658D9; /*Used for default bg of search button*/
  --search-button-focus-bg: #2B1B9C;
}

body {
  background-color: var(--card-border-clr);
  color: #FFF;
  font-family: "DM Sans", sans-serif;
}
